<div>
  <span class="label">Status:</span> <span class='record-status'></span>
</div>

<div>
  <span class="label">Count:</span> <span class='record-count'></span>
</div>

<div class='execution-displays'>
  
  <div class='execution-reference'>
    
    <h4>Reference Execution</h4>
    
    <span>Instruction:</span>
    <ul>
      <li>
        <span class="label">Addressing Mode:</span> <span class='reference-instruction-addressingMode'></span>
      </li>
      <li>
        <span class="label">Mnemonic:</span> <span class='reference-instruction-mnemonic'></span>
      </li>
      <li>
        <span class="label">Segment:</span> <span class='reference-instruction-segment'></span>
      </li>
      <li>
        <span class="label">Offset:</span> <span class='reference-instruction-offset'></span>
      </li>
      <li>
        <span class="label">Operands:</span>
        <div class='reference-instruction-operands'></div>
      </li>
      <li>
        <span class="label">Raw Bytes:</span>
        <div class='reference-instruction-rawBytes'></div>
      </li>
    </ul>
    
    <span>Registers:</span>
    <ul>
      <% ['ax', 'bx', 'cx', 'dx', 'di', 'si', 'cs', 'ds', 'es', 'ss', 'ip', 'bp', 'sp'].each(function(register) { %>
      <li>
        <span class="label"><%= register.toUpperCase() %> Register:</span> <span class='reference-register-<%= register %>'></span>
      </li>
      <% }) %>
    </ul>
    
    <span>Flags:</span>
    <ul>
      <% ['cf', 'pf', 'af', 'zf', 'sf', 'tf', 'if', 'df', 'of'].each(function(flag) { %>
      <li>
        <span class="label"><%= flag.toUpperCase() %> Flag:</span> <span class='reference-flag-<%= flag %>'></span>
      </li>
      <% }) %>
    </ul>
    
    <span>Memory:</span>
    <ul>
      <li>
        <span class="label">Checksum:</span> <span class='reference-memory-checksum'></span>
      </li>
      <li>
        <span>Changes:</span>
        <div class='reference-memory-changes'></div>
      </li>
    </ul>
  </div>
  
  <div class='execution-record'>
    
    <h4>Your Submission</h4>
    
    <span>Instruction:</span>
    <ul>
      <li>
        <span class="label">Addressing Mode:</span> <span class='record-instruction-addressingMode'></span>
      </li>
      <li>
        <span class="label">Mnemonic:</span> <span class='record-instruction-mnemonic'></span>
      </li>
      <li>
        <span class="label">Segment:</span> <span class='record-instruction-segment'></span>
      </li>
      <li>
        <span class="label">Offset:</span> <span class='record-instruction-offset'></span>
      </li>
      <li>
        <span class="label">Operands:</span>
        <div class='record-instruction-operands'></div>
      </li>
      <li>
        <span class="label">Raw Bytes:</span>
        <div class='record-instruction-rawBytes'></div>
      </li>
    </ul>
    
    <span>Registers:</span>
    <ul>
      <% ['ax', 'bx', 'cx', 'dx', 'di', 'si', 'cs', 'ds', 'es', 'ss', 'ip', 'bp', 'sp'].each(function(register) { %>
      <li>
        <span class="label"><%= register.toUpperCase() %> Register:</span> <span class='record-register-<%= register %>'></span>
      </li>
      <% }) %>
    </ul>
    
    <span>Flags:</span>
    <ul>
      <% ['cf', 'pf', 'af', 'zf', 'sf', 'tf', 'if', 'df', 'of'].each(function(flag) { %>
      <li>
        <span class="label"><%= flag.toUpperCase() %> Flag:</span> <span class='record-flag-<%= flag %>'></span>
      </li>
      <% }) %>
    </ul>
    
    <span>Memory:</span>
    <ul>
      <li>
        <span class="label">Checksum:</span> <span class='record-memory-checksum'></span>
      </li>
      <li>
        <span class="label">Changes:</span>
        <div class='record-memory-changes'></div>
      </li>
    </ul>
    
  </div>
  
</div>